// Variables
$primary-color: #0077b5;
$light-color: #f6f7f8;

// Cards
.card {
  background-color: $light-color;
  border-radius: 1rem;
}

// Steps
.step-card {
  border-radius: 1.5rem;
  background-color: white;
}